#uploadButton {
    font-size: 2rem; /* 아이콘 크기 조정 */
    cursor: pointer; /* 마우스를 올리면 포인터로 변경 */
    transition: transform 0.3s ease; /* 클릭 시 애니메이션 효과 */
}

#uploadButton:hover {
    transform: scale(1.1); /* 아이콘이 클릭 시 조금 커지는 효과 */
}