/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
} */

/* .profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
/* 
.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
} */

/* .profile-container p {
    font-size: 16px;
    line-height: 1.6;
} */

/* .profile-container .profile-info {
    margin: 10px 0;
}

.profile-container .profile-info strong {
    display: inline-block;
    width: 50px;
}

.profile-container .profile-image {
    display: block;
    max-width: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.form-container {
    display: none;
}

.form-container form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container form input,
.form-container form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.form-container form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container form button:hover {
    background-color: #0056b3;
} */