
/* 재생성 부분 */
/* 이미지 박스를 상대적으로 설정 */
.image-box {
    position: relative; /* 자식 요소들이 position을 사용하기 위해 필요 */
    justify-content: center;
    align-items: center;
}

/* 오버레이 버튼들을 중앙에 배치 */
.overlay-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
    display: none;  /* 처음에는 숨기기 */
}

/* 이미지에 마우스를 올리면 오버레이 버튼들 표시 */
.image-box:hover .overlay-buttons {
    display: flex;
}

/* 버튼 스타일 */
button {
    font-size: 18px;
    padding: 8px;
}
input[type="range"] {
    width: 150px;
}

/* 이미지에 마우스를 올리면 투명도 50% */
.image-box:hover #previewTarget {
    /* opacity: 0.2; */
    filter: blur(5px); /* 5px 정도의 블러 효과 적용 */
    transition: opacity 0.3s ease; /* 부드럽게 변하도록 애니메이션 추가 */
}

/* 이미지가 기본 상태에서 보이지 않도록 */
#previewTarget {
    display: none; /* 기본적으로 이미지는 보이지 않음 */
}